html{
  height: 100%;
}

.zc-html,
.zc-body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
 
.chart--container {
  height: 100%;
  width: 100%;
  min-height: 530px;
}
 
.zc-ref {
  display: none;
}
 
select {
  margin: 10px;
}